<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189498711958-jd25nth5fbkt1b26i1pps4n26ce77hmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189498711958-jd25nth5fbkt1b26i1pps4n26ce77hmh</string>
	<key>API_KEY</key>
	<string>AIzaSyBODG5ibNeEifZEGkBJ1_sMe_TIeFNca3I</string>
	<key>GCM_SENDER_ID</key>
	<string>189498711958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saif.rahman.imdb</string>
	<key>PROJECT_ID</key>
	<string>imdb-f683b</string>
	<key>STORAGE_BUCKET</key>
	<string>imdb-f683b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189498711958:ios:184ab603f78620ec7dc7b7</string>
</dict>
</plist>